{% extends 'base.html' %}

{% block title%}

    List of Post
{% endblock%}

{% block body %}
<h1>This is a heading</h1>

<div class="base-container">

<p id="font-id" >This is a paragraph.</p>

<div>
    
    <button type="button" class="btn btn-primary custom-btn"><a href="{% url 'create-post' %}" style="color: white;">Create Post</a></button>

    
<ul  id="ul-test" class="list-group">
{% for t in posts%}
    <li class="list-group-item">
        
      <a href="{% url 'post-details' t.id %}"> {{t.title}} </a>
      <p style=" color: black;" class="font-text"> {{t.text}}</p>
        
      <button type="button" class="btn btn-secondary"><a href="{% url 'update-post' t.id %}" style="color: white;">Update Post</a></button>
      <button type="button" class="btn btn-danger"><a href="{% url 'delete-post' t.id %}" style="color: white;">Delete Post</a></button>
      
       
    </li>



{% endfor %}

</ul>

{% endblock %}